@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Album>
@{
    ViewData["Title"] = "Index";
}

<style>
    * {
        color: white;
    }
    option {
        color: black;
    }

</style>

<a asp-controller="Overview" asp-action="Index" class="btn btn-info">Back</a>

<h1 class="display-2 mt-3">List of albums</h1>
<p class="lead ms-3">AC - Active account<br/>V - Verified account</p>
<div class="text-end mb-5">
    <a class="btn btn-primary fs-3 p-2" asp-action="Upsert"><i class="bi bi-plus-square"></i> Add album</a>
</div>


<table id="tblData" class="table shadow-lg" style="color: white">
    <thead>
        <tr>
            <th>ID Album</th>
        <th>ID User</th>
        <th>Actions</th>
            <th>Title</th>
            <th>Description</th>
            <th>ImageFile</th>
            <th>GetDateOfPublish</th>
    </thead>
    <tbody style="color: white"></tbody>
</table>

@section Scripts
    { 
            <script src="~/js/TableView/album.js"></script>
}
