@model AlbumVM
@{
    ViewData["Title"] = "Upsert";
}

<h1>Upsert</h1>
<form asp-action="Upsert" method="post" enctype="multipart/form-data">
    <div>
        <select asp-for="album.IdUser" asp-items="@Model.ListUsers" class="form-select">
            <option disabled selected>--Select Category--</option>
        </select>
    </div>
    <div>
        <input type="file" name="File" asp-for="album.ImageFile" />
    </div>
</form>
