<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BetterSpotify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MusicPlay.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BetterSpotify.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fs-1" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <a class="navbar-brand d-none d-lg-block" href="#">
                            <img src="~/images/Website/Spotify.png" width="75px" class="me-4" />
                        </a>
                        <li class="nav-item">
                            <a class="nav-link active me-3" asp-area="User" asp-controller="Home" asp-action="Index">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" href="#">Discover</a>
                        </li>
                        <li class="nav-item me-3 ">
                            <a class="nav-link" asp-area="User" asp-controller="Collection" asp-action="Index">Collections</a>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle fs-4 mt-3 " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu bla-Back border-light fs-5">
                                <a class="dropdown-item fw-bold text-light dropneco" asp-area="Admin" asp-controller="Overview" asp-action="Index">Overview</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Separate actions</h6>
                                <a class="dropdown-item text-light dropneco" asp-area="Admin" asp-controller="User" asp-action="Index">User management</a>
                                <a class="dropdown-item text-light dropneco" href="#">Song management</a>
                                <a class="dropdown-item text-light dropneco" href="#">Verify Music</a>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="d-flex">

                    @* Zobrazeni pro velke obrazovky*@
                    <div class="d-xl-block d-none me-5">
                        <a class="btn btn-outline-info px-2 fs-4 me-4 fw-light">Register</a>
                        <button type="button" class="btn btn-info fs-2 px-4 py-1" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Log In
                        </button>
                    </div>

                    @*Zobrazeni pro male*@
                    <div class="d-md-block d-xl-none ">
                        <a class="btn btn-outline-info px-2 fs-4 me-1 fw-light">Register</a>
                        <button type="button" class="btn btn-info fs-2 px-4 py-1" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Log In
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">
            @RenderBody()
    </main>
</div>


    <div class="fixed-bottom Player d-none">
        <img src="~/images/Website/Home/Bloom.png" class="Player-Image" />
        <div class="Player-Heading">
            <div class="Player-Title lead text-wrap">Pain</div>
            <div class="Player-Author lead text-wrap">Ryan Jones</div>
        </div>
        <div style="flex-grow: 1">
            <div class="Player-Slider">
                <div class="d-flex justify-content-between px-2">
                    <div class="Player-Slider-CurrentTime lead">0:00</div>
                    <div class="Player-Slider-EndTime lead">0:00</div>
                </div>
                <input type="range" min="1" max="100"
                       value="0" class="Player-Slider-Time" onchange="seekTo()" />
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="Player-Button d-none"><i class="bi bi-caret-left"></i></a>
                <a href="#" class="Player-Button" id="PausePlay" onclick="playpauseTrack()"><i class="bi bi-play"></i></a>
                <a href="#" class="Player-Button d-none"><i class="bi bi-caret-right"></i></a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BetterSpotify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MusicPlay.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BetterSpotify.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fs-1" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <a class="navbar-brand d-none d-lg-block" href="#">
                            <img src="~/images/Website/Spotify.png" width="75px" class="me-4" />
                        </a>
                        <li class="nav-item">
                            <a class="nav-link active me-3" asp-area="User" asp-controller="Home" asp-action="Index">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" href="#">Discover</a>
                        </li>
                        <li class="nav-item me-3 ">
                            <a class="nav-link" asp-area="User" asp-controller="Collection" asp-action="Index">Collections</a>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle fs-4 mt-3 " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu bla-Back border-light fs-5">
                                <a class="dropdown-item fw-bold text-light dropneco" asp-area="Admin" asp-controller="Overview" asp-action="Index">Overview</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Separate actions</h6>
                                <a class="dropdown-item text-light dropneco" asp-area="Admin" asp-controller="User" asp-action="Index">User management</a>
                                <a class="dropdown-item text-light dropneco" href="#">Song management</a>
                                <a class="dropdown-item text-light dropneco" href="#">Verify Music</a>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="d-flex">

                                    @* Zobrazeni pro velke obrazovky*@
                    <div class="d-xl-block d-none me-5">
                        <a class="btn btn-outline-info px-2 fs-4 me-4 fw-light">Register</a>
                        <button type="button" class="btn btn-info fs-2 px-4 py-1" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Log In
                        </button>
                    </div>

                                    @*Zobrazeni pro male*@
                    <div class="d-md-block d-xl-none ">
                        <a class="btn btn-outline-info px-2 fs-4 me-1 fw-light">Register</a>
                        <button type="button" class="btn btn-info fs-2 px-4 py-1" data-bs-toggle="modal" data-bs-target="#LoginModal">
                            Log In
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">
                            @RenderBody()
    </main>
</div>


    <div class="fixed-bottom Player d-none">
        <img src="~/images/Website/Home/Bloom.png" class="Player-Image" />
        <div class="Player-Heading">
            <div class="Player-Title lead text-wrap">Pain</div>
            <div class="Player-Author lead text-wrap">Ryan Jones</div>
        </div>
        <div style="flex-grow: 1">
            <div class="Player-Slider">
                <div class="d-flex justify-content-between px-2">
                    <div class="Player-Slider-CurrentTime lead">0:00</div>
                    <div class="Player-Slider-EndTime lead">0:00</div>
                </div>
                <input type="range" min="1" max="100"
                       value="0" class="Player-Slider-Time" onchange="seekTo()" />
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="Player-Button d-none"><i class="bi bi-caret-left"></i></a>
                <a href="#" class="Player-Button" id="PausePlay" onclick="playpauseTrack()"><i class="bi bi-play"></i></a>
                <a href="#" class="Player-Button d-none"><i class="bi bi-caret-right"></i></a>

            </div>
        </div>

    </div>

                    @*    <footer class="border-top footer text-muted fixed-bottom bg-dark">
        <div class="container ">
            &copy; 2023 - BetterSpotify - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/js/MusicPlayer.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
                    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
                    <!-- Modal -->
                    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg ">
                            <div class="modal-content bla-Back">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>

                                </div>
                                <div class="modal-body">
                                             <form>
                                                  <!-- Email input -->
                                                  <div class="form-outline mb-4" id="LoginModal">
                                                    <input type="email" id="inputemail" class="form-control" />
                                                    <label class="form-label" for="inputemail">Email address</label>
                                                  </div>

                                                  <!-- Password input -->
                                                  <div class="form-outline mb-4">
                                                    <input type="password" id="password" class="form-control" />
                                                    <label class="form-label" for="password">Password</label>
                                                  </div>

                                                  <!-- 2 column grid layout for inline styling -->
                                                  <div class="row mb-4">
                                                    <div class="col d-flex justify-content-center">
                                                      <!-- Checkbox -->
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                                                      </div>
                                                    </div>

                                                    <div class="col">
                                                      <!-- Simple link -->
                                                      <a href="#!">Forgot password?</a>
                                                    </div>
                                                  </div>

                                                  <!-- Submit button -->
                                                  <div style="text-align: center;"><button type="button" class="btn btn-primary btn-block mb-4">Sign in</button></div>


                                              </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>