@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}

<style>
    * {
        color: white;
    }
    option {
        color: black;
    }

    </style>
    

<h1 class="display-2 mt-3">List of users</h1>
<p class="lead mb-5 ms-3">AC - Active account<br/>V - Verified account</p>
<a class="btn btn-primary" asp-action="Upsert">ADD user</a>

<table id="tblData" class="table shadow-lg" style="color: white">
    <thead>
        <tr>
            <th>#</th>
            <th>NickName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>email</th>
            <th>country</th>
            <th>Date of Birth</th>
            <th>Date of registration</th>
            <th>AC</th>
            <th>V</th>
        </tr>
    </thead>
    <tbody style="color: white"></tbody>
</table>

@section Scripts
{ 
    <script src="~/js/TableView/user.js"></script>
}
