@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}

<style>
    * {
        color: white;
    }
    option {
        color: black;
    }

</style>

<a asp-controller="Overview" asp-action="Index" class="btn btn-info">Back</a>

<h1 class="display-2 mt-3">List of users</h1>
<p class="lead ms-3">AC - Active account<br/>V - Verified account</p>
<div class="text-end mb-5">
    <a class="btn btn-primary fs-3 p-2" asp-action="Upsert"><i class="bi bi-plus-square"></i> Add user</a>
</div>


<table id="tblData" class="table shadow-lg" style="color: white">
    <thead>
        <tr>
            <th>#</th>
            <th>Actions</th>
            <th>NickName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>email</th>
            <th>country</th>
            <th>Date of Birth</th>
            <th>Date of registration</th>
            <th>AC</th>
            <th>V</th>
        </tr>
    </thead>
    <tbody style="color: white"></tbody>
</table>

@section Scripts
{ 
    <script src="~/js/TableView/user.js"></script>
}
